name: Sync Profile README to Pages

on:
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Profile Repo
        uses: actions/checkout@v4

      - name: Prepare file for sync
        run: |
          mkdir -p sync_folder
          cp README.md sync_folder/README.md

      - name: Push to Pages Repo
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.PAGES_REPO_TOKEN }}
        with:
          source-directory: "sync_folder"
          source-file: "README.md"
          destination-github-username: "Mpinyaz"
          destination-repository-name: "mpinyaz.github.io"
          user-email: "actions@github.com"
          target-branch: "main"
          target-directory: "."
